@import "tailwindcss";

@layer base {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    min-block-size: 100dvh;
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* 9. Create a root stacking context */
  #root {
    isolation: isolate;
    scroll-behavior: smooth;
  }

  /* 10. for height animation + scrollbar width */
  :root {
    interpolate-size: allow-keywords;
    scrollbar-width: thin;
  }
}

@layer variables {
  :root {
    /* Light theme */
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(0, 2%, 79%);
    --clr-brand-400: hsl(25, 88%, 75%);
    --clr-brand-500: hsl(25, 88%, 66%);
    --clr-green-400: hsl(143, 19%, 49%);
    --clr-green-500: hsl(143, 38%, 37%);
    --clr-green-600: hsl(145, 29%, 19%);
    --clr-brown-500: hsl(10, 5%, 25%);
    --clr-brown-600: hsl(9, 7%, 21%);
    --clr-brown-700: hsl(9, 8%, 16%);
    --clr-brown-800: hsl(0, 6%, 15%);
    --clr-brown-900: hsl(0, 6%, 13%);

    --clr-orange-500: hsl(28, 43%, 28%);
    --clr-red-500: hsl(359, 34%, 24%);
    --clr-teal-500: hsl(186, 42%, 25%);

    --ff-heading: "Outfit", sans-serif;
    --ff-body: "Fira Sans", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-300: 0.875rem;
      --fs-400: 1rem;
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }
}

@variant dark (&:where(.dark, .dark *));
@theme {
  /** colors **/
  --color-*: initial;
  --color-main: var(--clr-gray-100);
  --color-high-contrast: var(--clr-white);
  --color-brand: var(--clr-brand-500);
  --color-brand-light: var(--clr-brand-400);

  --color-background-accent-light: var(--clr-green-400);
  --color-background-accent-main: var(--clr-green-500);
  --color-background-accent-dark: var(--clr-green-600);

  --color-background-extra-light: var(--clr-brown-500);
  --color-background-light: var(--clr-brown-600);
  --color-background-main: var(--clr-brown-700);
  --color-background-dark: var(--clr-brown-800);
  --color-background-extra-dark: var(--clr-brown-900);

  /** typography **/
  --text-heading-sm: var(--fs-700);
  --text-heading-base: var(--fs-800);
  --text-heading-lg: var(--fs-900);
  --text-heading-xl: var(--fs-1000);

  --text-sm: var(--fs-300);
  --text-base: var(--fs-400);
  --text-md: var(--fs-500);
  --text-lg: var(--fs-600);

  --radius-sm: 0.25rem;
  --radius-base: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}
