@import "tailwindcss";

@layer base {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  9. Create a root stacking context
*/
  #root {
    isolation: isolate;
    width: 100dvw;
    height: 100dvh;
    overflow-x: clip;
    scroll-behavior: smooth;
  }
}

@layer base {
  :root {
    /* Base Colors */
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 5% 13%);

    /* Card */
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 5% 13%);

    /* Popover */
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 5% 13%);

    /* Primary */
    --primary: hsl(24 89% 66%);
    --primary-foreground: hsl(0 0% 100%);

    /* Secondary */
    --secondary: hsl(24 85% 75%);
    --secondary-foreground: hsl(0 5% 13%);

    /* Muted */
    --muted: hsl(0 2% 79%);
    --muted-foreground: hsl(0 4% 25%);

    /* Accent */
    --accent: hsl(149 37% 37%);
    --accent-foreground: hsl(0 0% 100%);

    /* Destructive */
    --destructive: hsl(359 33% 37%);
    --destructive-foreground: hsl(0 0% 100%);

    /* Border/Input */
    --border: hsl(0 2% 79%);
    --input: hsl(0 2% 79%);

    /* Ring */
    --ring: hsl(149 37% 37%);
    --radius: 0.75rem;

    /* Sidebar */
    --sidebar-background: hsl(0 0% 97%);
    --sidebar-foreground: hsl(0 4% 25%);
    --sidebar-primary: hsl(149 37% 37%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(149 19% 49%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(0 2% 79%);
    --sidebar-ring: hsl(149 37% 37%);

    /* Charts */
    --chart-1: hsl(24 89% 66%);
    --chart-2: hsl(185 41% 37%);
    --chart-3: hsl(27 43% 37%);
    --chart-4: hsl(149 37% 37%);
    --chart-5: hsl(359 33% 37%);
  }

  .dark {
    /* Base Colors */
    --background: hsl(0 5% 13%);
    --foreground: hsl(0 0% 100%);

    /* Card */
    --card: hsl(0 3% 15%);
    --card-foreground: hsl(0 0% 100%);

    /* Popover */
    --popover: hsl(0 3% 15%);
    --popover-foreground: hsl(0 0% 100%);

    /* Primary */
    --primary: hsl(24 89% 66%);
    --primary-foreground: hsl(0 5% 13%);

    /* Secondary */
    --secondary: hsl(4 7% 21%);
    --secondary-foreground: hsl(0 0% 100%);

    /* Muted */
    --muted: hsl(6 8% 16%);
    --muted-foreground: hsl(0 2% 79%);

    /* Accent */
    --accent: hsl(149 19% 49%);
    --accent-foreground: hsl(0 0% 100%);

    /* Destructive */
    --destructive: hsl(359 33% 37%);
    --destructive-foreground: hsl(0 0% 100%);

    /* Border/Input */
    --border: hsl(6 8% 16%);
    --input: hsl(6 8% 16%);

    /* Ring */
    --ring: hsl(149 19% 49%);

    /* Sidebar */
    --sidebar-background: hsl(0 3% 15%);
    --sidebar-foreground: hsl(0 2% 79%);
    --sidebar-primary: hsl(149 37% 37%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(149 30% 20%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(6 8% 16%);
    --sidebar-ring: hsl(149 19% 49%);

    /* Charts */
    --chart-1: hsl(24 89% 66%);
    --chart-2: hsl(185 41% 37%);
    --chart-3: hsl(27 43% 37%);
    --chart-4: hsl(149 19% 49%);
    --chart-5: hsl(359 33% 37%);
  }
}

@variant dark (&:where(.dark, .dark *));

@theme {
  /** colors **/
  --color-*:initial;
  /* Base Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Card */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Popover */
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Muted */
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* Accent */
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Destructive */
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Border/Input */
  --color-border: var(--border);
  --color-input: var(--input);

  /* Ring */
  --color-ring: var(--ring);

  /* Sidebar Background */
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);

  /* Sidebar Primary */
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  /* Sidebar Accent */
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  /* Sidebar Border and Ring */
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /** radius **/
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /** easings **/
  --ease-spring: linear(
    0,
    0.169 3.6%,
    0.295 6.7%,
    0.411 10.1%,
    0.516 13.8%,
    0.609 17.8%,
    0.687 22%,
    0.755 26.6%,
    0.813 31.7%,
    0.859 37%,
    0.896 42.8%,
    0.95 56.5%,
    0.98 74.2%,
    1
  );
}

@layer components {
  .bg-grid {
    background:
      fixed
        linear-gradient(to bottom right, transparent 10%, var(--background) 85%),
      fixed
        repeating-linear-gradient(
          to right,
          transparent 0px 2px,
          var(--foreground-subtle) 2px 3px,
          transparent 3px 30px
        ),
      fixed
        repeating-linear-gradient(
          to bottom,
          transparent 0px 2px,
          var(--foreground-subtle) 2px 3px,
          transparent 3px 30px
        )
        var(--background-muted);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
